{% extends "base.html" %}


{% block content %}
<h1>Colonie de souris</h1>




<div class="card" style="width: 50rem;">
    {% load static %}
    <img src="{% static 'toolbox/2_mice.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{colony.name}}</h5>
        <p class="card-text"><b>Population :</b> {{colony.inhabitants}}</p>
        <p class="card-text"><b>Taille : </b>{{colony.size}}</p>
        <p class="card-text"><b>Particularité : </b>{{colony.element_of_note}}</p>
        <p class="card-text"><b>Événement : </b>{{colony.event}}</p>

    </div>
</div>

{% endblock %}