{% extends "base.html" %}


{% block content %}
<h1>Colonie de souris</h1>
{% load static %}
<img src="{% static 'toolbox/tavern.png' %}" />

<h2>{{colony.name}}</h2>
<table class="table">
    <tr>
        <td><b>Population</b></td>
        <td>{{colony.inhabitants}}</td>
    </tr>
    <tr>
        <td><b>Taille</b></td>
        <td>{{colony.size}}</td>
    </tr>
    <tr>
        <td><b>Particularité</b></td>
        <td>{{colony.element_of_note}}</td>
    </tr>
    <tr>
        <td><b>Événement</b></td>
        <td>{{colony.event}}</td>
    </tr>

</table>

{% endblock %}