{% extends "base.html" %}
{% block title %}
Chevalier Souris - Bestiaire - {{ creature.name }}
{% endblock %}
{% block content %}
<h1>{{ creature.name }}</h1>


<table class="table">
    {% if creature.armor > 0 %}
    <tr>
        <td colspan="2"><strong>{{creature.HP}} PV</strong></td>
        <td><strong>Armure {{creature.armor}}</strong></td>

    </tr>
    {% else %}
    <tr>
        <td colspan="3"><strong>{{creature.HP}} PV</strong></td>

    </tr>

    {% endif %}
    <tr>
        <td><strong>FOR {{creature.STR}}</strong></td>
        <td><strong>DEX {{creature.DEX}}</strong></td>
        <td><strong>VOL {{creature.WIL}}</strong></td>

    </tr>
    <tr>
        <td><strong>Attaques :</strong></td>
        <td><strong>{{creature.attack1}}</strong></td>
        <td><strong>{{creature.attack2}}</strong></td>
    </tr>
    {% if creature.spells %}
    <tr>
        <td><strong>Sorts:</strong></td>
        <td colspan="2"><strong>{{creature.spells}}</strong></td>
    </tr>
    {% endif %}
    <tr>
        <td><strong>Veut :</strong></td>
        <td colspan="2"><em>{{creature.wants}}</em></td>
    </tr>
</table>
<table class="table">
    <tr>
        <td> <strong>{{creature.variation_name}}</strong></td>

    </tr>
</table>

<ol>
    {% for var in creature.variation_set.all %}
    <li><b>{{ var.first_part }} </b>{{ var.last_part }}</li>
    {% endfor %}
</ol>

{% endblock %}